<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/css/main.css" />
  </head>
  <body>
    <%-include ./partials/header.ejs %>
    <h2><%= title %></h2>

    <%-include ./partials/items_list.ejs%>

    <div class="btns">
      <a href="/catalog/brand/">Browse Brands</a>
      <a href="/catalog/type/">Browse Types</a>
      <a href="item/add/">Add an Item</a>
    </div>
  </body>
</html>
