.header {
  display: flex;
  justify-content: space-around;
  margin: 2em 0em;
  flex-wrap: wrap;
  width: fit-content;

  & * {
    padding: 0.2em 0;
  }

  h1 {
    font-size: 45rem;
    font-weight: 700;
  }
  div {
    display: flex;
    align-items: center;
    a {
      padding-top: 0.8em;
      margin: 0 2em;
      font-weight: 600;
      text-decoration: none;
      color: inherit;
    }
  }
}
