@import "reset";
@import "typography";
@import "header";
@mixin outline-btn-theme($bgColor: white, $mainColor: black) {
  font: inherit;
  font-weight: 600;
  background: $bgColor;
  color: $mainColor;
  border-radius: 30rem;
  border: 2rem solid $mainColor;
  box-shadow: 0 0.5em 1em 1rem rgba($color: $mainColor, $alpha: 0.05);
  padding: 0.6em 0.6em;
  margin: 0.5em auto;
  display: block;
  text-decoration: none;
  transition: transform 50ms ease-in-out;
  &:hover {
    cursor: pointer;
    transform: translateY(-5%);
  }
}
@mixin block-btn-theme($bgColor: black, $mainColor: white) {
  font: inherit;
  font-weight: 600;
  background: $bgColor;
  color: $mainColor;
  border-radius: 30rem;
  border: 2rem solid $bgColor;
  padding: 0.6em 0.6em;
  margin: 0.5em auto;
  display: block;
  text-decoration: none;
  box-shadow: 0 0.5em 1em 1rem rgba($color: $bgColor, $alpha: 0.05);
  transition: transform 50ms ease-in-out;
  &:hover {
    cursor: pointer;

    transform: translateY(-5%);
  }
}
$redColor: red;
$textHoverColor: grey;
$alt-textHoverColor: darkgrey;
body {
  background: rgb(252, 252, 252);
}

h2 {
  font-weight: 700;
  font-size: 30rem;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-block: 0.5em;
}
.item-list-container {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(320rem, 1fr));
  grid-gap: 1em;
  max-width: 1280px;
  margin: 0 auto;
}

.item-container {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  margin: 1em;
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  box-shadow: 0 0.75em 2em 1rem rgba($color: rgb(60, 42, 100), $alpha: 0.1);
  border-radius: 1em;
  min-height: fit-content;
  h4,
  p {
    margin-bottom: 0.1em;
  }

  h3 {
    font-weight: 700;
    font-size: 30rem;
  }
  h4 {
    font-weight: 600;
    font-size: 20rem;
  }
}
.btns {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 1em 0;
  a {
    &:last-of-type {
      @include block-btn-theme;
      margin: 0 0.2em;

      display: block;
    }
    @include outline-btn-theme;
    margin: 0 0.2em;
  }
}

.link-button {
  @include outline-btn-theme;
}

.item-detail-container {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  margin: 1em auto;
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  box-shadow: 0 0.75em 2em 1rem rgba($color: rgb(60, 42, 100), $alpha: 0.1);
  border-radius: 1em;
  width: min(880rem, 75vw);
  a {
    color: rgba($color: #000000, $alpha: 0.85);
    text-decoration: none;
  }
  h4,
  p {
    margin-bottom: 0.2em;
  }

  h3 {
    font-weight: 700;
    font-size: 50rem;
  }
  h4 {
    font-weight: 600;
    font-size: 35rem;
    text-decoration: 0;
  }
  p {
    font-size: 20rem;
  }
  .summary {
    font-weight: 700;
  }
  .stock {
    font-weight: 600;
  }
  .price {
    display: block;
    font-size: 23rem;
    margin: 0.1em 0;
    font-weight: 700;
    span {
      margin-left: 2rem;
      color: rgba($color: #000000, $alpha: 0.8);
    }
  }
  div {
    display: flex;
    justify-content: center;

    a {
      &:last-of-type {
        @include block-btn-theme;

        margin: 0 0.2em;
      }
      @include outline-btn-theme;
      margin: 0 0.2em;
    }
  }
}

.item-edit-container {
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  margin: 1em auto;
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  box-shadow: 0 0.75em 2em 1rem rgba($color: rgb(60, 42, 100), $alpha: 0.1);
  border-radius: 1em;
  width: min(600rem, 75vw);
  align-items: center;
  a {
    color: rgba($color: #000000, $alpha: 0.85);
    text-decoration: none;
  }
  label {
    width: min(95%, 660rem);
    font-weight: 600;
    font-size: 20rem;

    & * {
      margin: 0 1em;
      width: 100%;
      border: 2rem solid rgba($color: #000000, $alpha: 1);
      background-color: inherit;
      border-radius: 1em;
      padding: 0.5em 0.5em;
      font-weight: 500;
      margin-top: -0.5em;
    }
    padding-top: 0.5em;
    margin-bottom: 1em;
    display: flex;
    align-items: flex-start;

    textarea {
      resize: none;
      overflow: auto;
      display: inline-flex;
      height: 6em;
      font: inherit;
      font-weight: 400;
      padding: 0.8em;
    }
  }
  button {
    @include outline-btn-theme;
  }
}

.delete-form {
  p {
    text-align: center;
    color: $redColor;
    font-weight: 600;
    font-size: 25rem;
  }
  button {
    @include block-btn-theme($redColor, white);
  }
}

@mixin text-link-hover($setColor: darkgrey, $altColor: grey) {
  color: $setColor !important;
  transition: all 150ms ease-in-out;
  display: inline-block;
  border-radius: 0.5em;

  &:hover {
    color: $altColor !important;
    transform: translateX(2%);
  }
}
.text-link-hover {
  @include text-link-hover(grey, blue);
}

.browse-container {
  width: min(880rem, 75vw);
  margin: 2em auto;
}

.form-errors {
  color: $redColor;
  padding: 1em 0;
  font-weight: 600;
  font-size: 15rem;
  text-align: center;
}
